html {
  overflow-y: hidden;
}

body {
  background-color: #fff;
  color: #232729;
  font-family: Consolas, Monaco, monospace;
  font-size: 16px;
  margin: 0;
}
.dark .theming button {
  color: #fff;
}

#app .container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding-top: 3.125rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 0 20%;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: #fff;
  letter-spacing: 0.0625rem;
  border: none;
  resize: none;
  box-sizing: border-box;
  outline: 0 none;
  margin: 0;
  border: 0 none;
  scrollbar-width: thin;
  scrollbar-color: #000 #999;
}

body.dark,
.dark textarea {
  background-color: #232729;
  color: #fff;
  scrollbar-color: #fff #999;
}

textarea:focus {
  outline: none;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.charcount {
  padding-bottom: 1rem;
  padding-right: 1.2rem;
}

.charcount span {
  font-size: 0.9rem;
  letter-spacing: 0.125rem;
}

.theming {
  padding-bottom: 1rem;
  padding-left: 1.2rem;
}

.theming button {
  font-size: 0.9rem;
  letter-spacing: 0.125rem;
  border: 0 none;
  background-color: transparent;
}
